@inherits LayoutComponentBase

<head>
    <title> Ridget zoo </title>
    <link rel="stylesheet" href="CSS/styles.css"/> 
    <link href="/pngwing.com.png"  rel="favicon" />
  
</head>



 <body>

    <div class="top row">
        <header><Rza_Website.Components.Layout.NavMenu /></header>
    </div>
     @Body
 </body>