@inherits LayoutComponentBase

<head>
<title> Ridget zoo </title>
<link rel="stylesheet" href="CSS/styles.css"/> 
<link href="~/pngwing.com.png"  rel="favicon" />
    
</head>




 <body>
     @Body
 </body>