nav ul li {
    margin-bottom: 0px;
/* Adjust the value to suit your spacing needs */
}


ul {
    list-style-type: none;
    padding: 0px;
    overflow: auto;
    background-color: forestgreen;
}
/*this controls the items inside unorderer list
*/
.Nav {
    border:solid;
    align-items: baseline;
    height: 100px;
    width: 208px;
    display: flex;
    background-color: forestgreen;
    font-size: 15pt;
}

li {
    display: flex;
    
    justify-content: space-between;
    background-color: forestgreen;
    float: inline-start;
}
/*Colour of the links*/
    li a {
        color: white;
        text-decoration: none;
    }
/* Change the link color to #111 (darkgreen) on hover */
li a:hover {
    background-color: darkgreen;
}
