


<body>

    
    <nav>
        
        <ul class="nav-list">
           
            
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="Bookings">Bookings</a></li>
            <li class="nav-item"><a href="Planyourvisit">Plan your visit</a></li>
            <li class="nav-item"><a href="Support">Support</a></li>
            <li class="nav-item"><a href="Education">Education</a></li>
            <li class="nav-item"><a href="Register">Register/Login</a></li>

        </ul>
    </nav>

</body>
    





