
<nav>   
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="Bookings">Bookings</a></li>
        <li><a href="Planyourvisit">Plan your visit</a></li>
        <li><a href="Support">Support</a></li>
        <li><a href="Education">Education</a></li>
        <li><a href="Register">Register/Login</a></li>

    </ul>
</nav>
    





