nav ul li {
    margin-bottom: 0px;
/* Adjust the value to suit your spacing needs */
}


ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    overflow: auto;
    background-color: forestgreen;
}
/*this controls the items inside unorderer list
*/
/*set border to 208*/
.Nav {
    border:solid;
    align-items: center;
    height: 200px;
    width: 180px;
    display: flex;
    background-color: forestgreen;
    font-size: 15pt;
}

    .Nav:hover {
        background-color: darkgreen;
    }

li {
    display: flex;
    justify-content: space-evenly;
    background-color: forestgreen;
    float: inline-start;
}
/*Colour of the links*/
li a {
    border:dashed;
    color: white;
    text-decoration: none;
}
/* Change the link color to #111 (darkgreen) on hover */
li a:hover {
    background-color: darkgreen;
}
