
<link href="/CSS/nav.css" rel="stylesheet" />
<body>

    <header>
        <h2 class="logo">RidgetZoo</h2>

        <nav class="navigation">
            <a href="/">Home</a>
            <a href="Bookings">Bookings</a>
            <a href="Planyourvisit">Plan your visit</a>
            <a href="Support">Support</a>
            <a href="Education">Education</a>

            <button class="btnLogin-popup" href="Register"> Login/register</button>
        </nav>

    </header>


</body>





