@page "/HotelBooking"

 <link href="/CSS/HotelBooking.css" rel="stylesheet" />
<div class="picture">
    <img class="lion" src="/Images/lion.png" alt="Alternate Text" />
    <p>picture</p>
</div>   
@code {

}
