@page "/"
<title >Index Page</title>
<head>
    <link href="/CSS/Index.css" rel="stylesheet" />
    
</head>


<body>

    <div class="Box">1</div>
    <div class="Box">2</div>
    <div class="Box">3</div>
    <div class="Box">4</div>
    <div class="Box">5</div>

</body>





@code {

}
