@page "/"

<h1>this is the home page</h1>
<img src="https://cdn.pixabay.com/photo/2017/12/26/16/09/lion-3040797_640.jpg" alt="LION IMAGE">


<p>TEST</p>
<p>TEST</p>
<p>TEST</p>
<p>TEST</p>
<p>TEST</p>
<p>TEST</p>
<p>TEST</p>

@code {

}
