@using Rza_Website.Services
@using Rza_Website.Models
@using Rza_Website.Utilities
@inject NavigationManager NavigationManager
@inject CustomerService CustomerService
@inject Rza_Website.Services.CustomerService CustomerService
@inject UserSession UserSession
@rendermode InteractiveServer
@page "/Login"
 <link href="/CSS/Login.css" rel="stylesheet"/>


<body class="Login_Body"></body>

<div class="wrapper">

    
    <EditForm Model="newCustomer" OnValidSubmit="HandleValidSubmit" FormName="LoginForm" class="register-form">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label class="form-label">Username:</label>
            <InputText class="form-input" @bind-Value="newCustomer.Username" />
        </div>

        <div>
            <label class="form-label">Password:</label>
            <InputText class="form-input" @bind-Value="password" type="password" />
        </div>

        <button type="submit" class="submit-button">Login</button>
    </EditForm>
</div>


@code {
    //This method checks the login details, saves the session 
    // data if successful- and navigates the user to the home page.
    private Customer newCustomer = new Customer();
    private string password; 
    private async Task HandleValidSubmit()
    {
        newCustomer.Password = password;
        newCustomer = await CustomerService.LogIn(newCustomer);

        if (newCustomer == null)
        {
            Console.WriteLine("couldn't log in ");
        }

        else
        {
            Console.WriteLine("logged in");
            UserSession.UserId = newCustomer.CustomerId;
            NavigationManager.NavigateTo("/");
        }


   }
}
