@page "/Planyourvisit"

<link href="/CSS/Plan_visit.css" rel="stylesheet" />
<main>
    <section class="grid-container">
        <div class="grid-item">HOW TO FIND RIGET</div>
        <div class="grid-item">PRICES</div>
        <div class="grid-item">OPENING TIMES</div>
        <div class="grid-item">PARKING</div>
        <div class="grid-item">PUBLIC TRANSPORT</div>
        <div class="grid-item">ROUTE MAP/DIGITAL MAP</div>
        <div class="grid-item">CHATBOT</div>
    </section>
</main>

@code {

}
