@page "/Register"
@using Rza_Website.Services
@using Rza_Website.Models
@using Rza_Website.Utilities
@inject NavigationManager NavigationManager
@inject CustomerService CustomerService
@inject Rza_Website.Services.CustomerService CustomerService
@inject UserSession UserSession
@rendermode InteractiveServer
<link href="/CSS/Index.css" rel="stylesheet" />


<h3>TempRegister</h3>

<EditForm Model="newCustomer" OnValidSubmit="HandleValidSubmit" FormName="LoginForm">
<DataAnnotationsValidator/>
<ValidationSummary />

<div>
    <label>Username:</label>
    <InputText @bind-Value="newCustomer.Username"/>
</div>

<div>
    <label>Password:</label>
    <InputText @bind-Value="password" type="password"/>
</div>
<button type="submit"> Register</button>
</EditForm>


<div>
    <label> Username</label><br />
    <input @bind=newCustomer.Username>
</div>

<div>
    <label> Password</label><br />
    <input type="password" @bind=newCustomer.Password>
</div>

<div>
    <label> First Name</label><br />
    <input @bind=newCustomer.FirstName>
</div>

<div>
    <label> Last Name</label><br />
    <input @bind=newCustomer.LastName>
</div>

<div>
    <label> Post Code</label><br />
    <input @bind=newCustomer.Postcode>
</div>

<div>
    <label> phone number</label><br />
    <input type="tel" @bind=newCustomer.PhoneNumber>
</div>

<div>
    <label> Email</label><br />
    <input type="email" @bind=newCustomer.Email>
</div>

<div>
    <label> Date of birth</label><br />
    <input type="date" @bind=newCustomer.DateOfBirth>
</div>


<button @onclick=@RegisterCustomer> Register</button>


@code {
    private Customer newCustomer = new Customer();
    private string password; 

    private async Task RegisterCustomer()
    {
        await CustomerService.AddCustomerAsync(newCustomer);
        Console.WriteLine("cutton clicked");
    }

    private async Task HandleValidSubmit()
    {
        newCustomer.Password = password;
        newCustomer = await CustomerService.LogIn(newCustomer);

        if (newCustomer == null)
        {
            Console.WriteLine("yOU ARE NOW LOGGED IN"); 
        }

        else
        {
                UserSession.UserId = newCustomer.CustomerId;
                NavigationManager.NavigateTo("/");
        }


    }
}
