@using Rza_Website.Services
@using Rza_Website.Models
@inject CustomerService CustomerService
@rendermode InteractiveServer
@page "/Tempregister"
<h3>TempRegister</h3>
 <link href="~/CSS/LOGINREGISTER.css" rel="stylesheet" />
<div>
    <label> Username</label><br />
    <input @bind=newCustomer.Username>
</div>

<div>
    <label> Password</label><br />
    <input @bind=newCustomer.Password>
</div>

<div>
    <label> First Name</label><br />
    <input @bind=newCustomer.FirstName>
</div>

<div>
    <label> Last Name</label><br />
    <input @bind=newCustomer.LastName>
</div>

<div>
    <label> Email</label><br />
    <input @bind=newCustomer.Email>
</div>


<button @onclick=@RegisterCustomer> Register</button>
<p>Counter: @counter</p>

@code {
        private long counter = 0;
        private Customer newCustomer;

        private async Task RegisterCustomer()

        {
            for (long i = 0; i < 1; i++) // Example: limit it to 1000 for demonstration purposes
            {
                // Increment the counter by 1 each time the button is clicked
                await CustomerService.AddCustomerAsync(newCustomer);
                Console.WriteLine(counter++);
            }

        }
}
